# Rule to create a consistent symbolic link for Pimoroni Servo 2040
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="000a", ATTRS{serial}=="E6609103C370752A", SYMLINK+="servo2040_r"
